<%= form_with(model: rapper, remote: true, class:"form-inline mt-4") do |form| %>
  <% if rapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rapper.errors.count, "error") %> prohibited this rapper from being saved:</h2>

      <ul>
        <% rapper.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-white">
    <%=form.label :photos %>
    <%=form.file_field :photos, multiple: true%>
  </div>  
  
  <div class="actions">
    <%= form.submit "Upload"%>
  </div>
<% end %>
